# MYSQL DATA CLEANING - Students Performance Dataset

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ilayaraja07/data-cleaning-feature-imputation")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\namdn\.cache\kagglehub\datasets\ilayaraja07\data-cleaning-feature-imputation\versions\1

In [6]:
import pandas as pd
import os

In [7]:
files = os.listdir(path)
print("Fichiers dans le dataset :", files)

Fichiers dans le dataset : ['Students_Performance_knn.csv', 'Students_Performance_mv.csv', 'Wine_Quality.csv']

## Introduction

This project is focused on data cleaning/cleansing of a students performance dataset. The students performance is based on their marks and their parental level, lunch option (reduced, standard, free) and any test preparation.

### Data Import

To import the dataset, we create a new database called students_performance with a table of the same name. Table Data Import Wizard, then select CSV file. The import is now successful and we don't change the columns format through the import as we are changing it directly on MySQL

### First display of data

In [ ]:
SELECT *
FROM students_performance;

### Next steps ?

Here are the steps for this data cleaning :
- Creating a back-up copy of students_performance table called "students_test"
- Verifying existing duplicates
- Standardize the data
- Delete useless rows and columns for EDA.

### Creating back-up copy

In [ ]:
SELECT * 
FROM students;

CREATE TABLE student_performance.students_test
LIKE student_performance.students;

INSERT students_test
SELECT * FROM student_performance.students;

SELECT *
FROM students_test;

### Duplicates

In [ ]:
SELECT *, COUNT(*) AS count
FROM student_performance.students_test
GROUP BY gender, race_ethnicity, parental_education, lunch, test_prep, math_score, reading_score, writing_score
HAVING COUNT(*) > 1;

In [ ]:
No duplicates were found.

### Standardization

In [ ]:
SELECT *
FROM student_performance.students_test
WHERE lunch = '';

SELECT *
FROM student_performance.students_test
WHERE writing_score is null;

#Verifying if any columns contains null/blank values
#Only the column "lunch" contains blank values but the rows associated with these blank values are still useful for EDAs.

In [ ]:
#Creating copy table named students_test2.

SELECT *
FROM student_performance.students_test2;

UPDATE student_performance.students_test2
SET gender = TRIM(gender);

#Just in case, we trim all the columns to remove blank spaces that can be place at the beginning or at the end of the value.

SELECT DISTINCT parental_education
FROM student_performance.students_test
ORDER BY parental_education;

SELECT DISTINCT math_score
FROM student_performance.students_test
ORDER BY math_score;

SELECT DISTINCT reading_score
FROM student_performance.students_test
ORDER BY reading_score;

SELECT DISTINCT writing_score
FROM student_performance.students_test
ORDER BY writing_score;